@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");

:root {
  --main-white-color: #f2f2f2 !important;
  --main-black-color: black !important;
  --main-purple-color: #9e89b8  !important;
}

* {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}

button {
  background: none !important;
  outline: none !important;
  cursor: pointer !important;
}

ul {
  list-style: none !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

body {
  font: 16px/1.5 "Dosis", sans-serif !important;
  /*IE FIX*/
  /*display: flex;
  flex-direction: column;*/
}

/* CONTAINER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important;
}

/* .wrapper > * {
  padding: 20px;
} */


/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
  background: var(--main-white-color) !important;
  padding: 20px !important;
}
.page-header nav {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.logo{
  color: black !important;
}

.page-header ul {
  display: flex !important;
  order: 1 !important;
  width: 100% !important;
  margin-top: 15px !important;
}

.page-header ul li:not(:last-child) {
  padding-right: 15px !important;
}

.page-header .cta-contact {
  font-family: inherit !important;
  font-size: 1.2rem !important;
  padding: 5px 18px !important;
  border: 1px solid !important;
  border-radius: 5px !important;
}

.cta-contact{
  color: black;
  transition: 0.3s !important;
}

.cta-contact:hover {
  background-color: #3e8e41 !important;
  color: white !important;
}

/* MAIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-main {
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
  justify-content: center !important;
  flex-grow: 1 !important;
  min-height: 350px !important;
  background-color:antiquewhite !important;
  background-blend-mode: luminosity !important;
  color: var(--main-white-color) !important;
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  display: flex !important;
  flex-direction: column-reverse !important;
  background: var(--main-white-color) !important;
  padding: 20px !important;
  position: relative !important;
}

.page-footer ul {
  display: flex !important;
  font-size: 1.5rem !important;
  margin-bottom: 5px !important;
}

.page-footer ul li:not(:last-child) {
  margin-right: 20px !important;
}


/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 550px) {
  .page-header ul {
    width: auto !important;
    margin-top: 0 !important;
  }

  .page-header .cta-contact {
    order: 1 !important;
  }

  .page-footer {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
  }

  .page-footer ul {
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 18px !important;
  }

  .page-main {
    padding-left: 90px !important;
  }
}
