.item-list{
    max-width: 950px;
    width: 78vw;
    display: flex;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: x mandatory;
  }
  
  .item{
    scroll-snap-align: center;
  }