*{
    color: black;
}

.display-list {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row if necessary */
    padding: 0;
    gap: 50px;
}

.item-fazenda {
    flex: auto;
    max-width:50%; /* Limit item width to avoid overcrowding */
    margin: 10px; /* Add spacing between items */
    border: 1px solid #ccc; /* Add a border for visual separation */
    padding: 10px;
    text-align: center;
    display: inline-grid;
}

/* Style the "Buy Now" button */
.btn-comprar {
    display: block;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.container-grid-container {
    padding-top: 20px;
  }

  .card {
    margin-bottom: 1rem;
  } 

  .list-view .row > [class*='col-'] {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .list-view .card {
    flex-direction: column;
  }

  .list-view .card .card-img-top {
    width: auto;
  }

  .list-view .card .card-body {
    display: inline-block;
  }

  .card-body{
    color: black;
  }

/* _______________________________________________ */

  .container-filtro {
    display: flex;
    align-items: center;
    margin-left: 1100px;
    color: black;
  }

  #estados {
    display: flex;
    align-items: center;
  }

  #estados label {
    margin-top: 5px;
    margin-right: 3px;
  }

  
  .slider {
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  #metragem {
    margin-left: 15px; 
    display: flex;
    align-items: center;
  }

  
  #metragem label {
    margin-top: 8px;
  }

  #botao-filtro {
    margin-left: 10px; 
  }
