.container-grid-container {
    display: flex;
    flex-direction: column;
    justify-content: left !important;
    padding-right: 50%;
  }

  .card{
    background-color: white;
    border: 1px solid snow;
    border-radius: 10px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }

  .list-view .card .card-body {
    display: inline-block !important;
  }

  .card-body{
    color: black !important;
    margin-left: 3px;
    margin-bottom: 1px;
  }

  .card-img-top{
    width: 612px !important;
    height: 408 !important;
    border-radius: 8px;
  }

  .card-title{
    font-size: 21px;
    margin-bottom: 5px;
  }

  .row{
    padding-bottom: 40px;
  }

/* _______________________________________________ */

  .container-filtro {
    display: flex !important;
    margin-left: 1140px;
    color: black !important;
    margin-bottom: 10px;
    margin-top: 5px;

  }

  #estados {
    display: flex !important;
    align-items: center !important;
  }

  #estados label {
    margin-right: 3px !important;
  }
  
  #metragem {
    margin-left: 5px !important; 
    display: flex !important;
    align-items: center !important;
  }
  
  #metragem label {
    color: black;
    width: 100%;
  }

  #span {
    color: black;
  }

  #botao-filtro {
    margin-top: 2px !important;
    margin-left: 8px !important;
    background-color: #faebd7 !important;
    color: black !important;
    border: 1px solid black !important;
    border-radius: 3px;
    width: 50px;
    height: 20px;
  }

  #botao-filtro:before {
    height: 0%;
    width: 2px;
  }

  #botao-filtro:hover {
    background-color: #3e8e41 !important;
    color: white !important;
    border: none !important;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }


  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 5px ;
    margin-right: 5px ;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #99bf67;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #99bf67;
    cursor: pointer;
  }