.info{
    padding: 20px !important;
    width: 100% !important;
    height: auto !important;
    display: flex !important;
    color: black !important;
    justify-content: space-between !important;

}

.info-card{
    padding: 20px !important;
    display: grid !important;
    background-color: aliceblue !important;
    width: 460px !important;
    height: 620px !important;
    border-radius: 20px !important;
}

.bg-img{
    width: 1280px !important;
    height: 720px !important;
}

.stats ul{
    text-transform: uppercase !important;
    font-size: medium !important;
    width: 100% !important;
    height: auto !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.info button{
    font-size: larger !important;
    border: none !important;
    text-transform: uppercase !important;
    background-color: darkgreen !important;
    border-radius: 10px !important;
    width: 100% !important;
    height: 50% !important;
    align-items: end !important;
}
