{% load static %}
{% load sweetify %}

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Fazenda a Venda {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'base.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
</head>



<div class="wrapper">
  <header class="page-header">
    <nav>
      <h2 onclick="homeredirect()" class="logo">LOGO</h2>
      <ul>
        <li>
          <a href="/about">Sobre Nós</a>
        </li>
        <li>
          <a href="/typeofservice">Serviços</a>
        </li>
        <li>
          <a href="/terrenos">Terrenos</a>
        </li>
        <li>
          <a href="/contact">Contatos</a>
        </li>
        <li>
          <a id="cadastro" href="/cadastrar">Add Terra</a>
        </li>
      </ul>
      <button onclick="loginredirect()" id="login" class="cta-contact">Entrar</button>
    </nav>

  </header>

  <!-- {% include "message.html" %} -->



  <main class="page-main">
    {% block content %}

    {% endblock content %}
  </main>
  <footer class="page-footer">
    <small>© Copyright 2024. Todos os direitos reservados.</small>
    <ul>
      <li>
        <a href="" target="_blank">
          <i class="icon ion-logo-facebook"></i>
        </a>
      </li>
      <li>
        <a href="" target="_blank">
          <i class="icon ion-logo-twitter"></i>
        </a>
      </li>
      <li>
        <a href="" target="_blank">
          <i class="icon ion-logo-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="" target="_blank">
          <i class="icon ion-logo-github"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>
<h1 id="sid">{{ request.session.localID }}</h1>
{% sweetify %}
