{% load static %}
{% load sweetify %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Fazenda a Venda {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
</head>

<script>function loginredirect() { window.location.href = "/login";} </script>
<script>function homeredirect() { window.location.href = "/";} </script>

<div class="wrapper">
  <header class="page-header">
    <nav>
      <h2 onclick="homeredirect()" class="logo">LOGO</h2>
      <ul>
        <li>
          <a href="/about">Sobre Nós</a>
        </li>
        <li>
          <a href="/typeofservice">Serviços</a>
        </li>
        <li>
          <a href="/terrenos">Terrenos</a>
        </li>
        <li>
          <a href="/contact">Contatos</a>
        </li>
      </ul>
      <button onclick="loginredirect()" class="cta-contact">Entrar</button>
    </nav>

  </header>

  <!-- {% include "message.html" %} -->



  <main class="page-main">
    {% block content %}

    {% endblock content %}
  </main>
  <footer class="page-footer">
    <small>© Copyright 2024. Todos os direitos reservados.</small>
    <ul>
      <li>
        <a href="" target="_blank">
          <i class="icon ion-logo-facebook"></i>
        </a>
      </li>
      <li>
        <a href="" target="_blank">
          <i class="icon ion-logo-twitter"></i>
        </a>
      </li>
      <li>
        <a href="" target="_blank">
          <i class="icon ion-logo-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="" target="_blank">
          <i class="icon ion-logo-github"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>

{% sweetify %}