{% load static %}

{% block content %}

<link href="{% static 'carrosel.css' %}" rel="stylesheet">
<script src="{% static 'carrosel.js' %}"></script>

<body>
	<div id="container">
		<div id="slider-container">
			<span onclick="slideRight()" class="btn"></span>
			<div id="slider">
				<div class="slide"><span>150x150</span></div>
				<div class="slide"><span>150x150</span></div>
				<div class="slide"><span>150x150</span></div>
				<div class="slide"><span>150x150</span></div>
				<div class="slide"><span>150x150</span></div>
				<div class="slide"><span>150x150</span></div>
				<div class="slide"><span>150x150</span></div>
				<div class="slide"><span>150x150</span></div>
				<div class="slide"><span>150x150</span></div>
				<div class="slide"><span>150x150</span></div>
			</div>
			<span onclick="slideLeft()" class="btn"></span>
		</div>
	</div>
</body>
{% endblock content %}
