{% load static %}

{% block content %}

<link href="{% static 'carrosel.css' %}" rel="stylesheet">


<div class="container">
    <div class="carousel-view">
      <!-- Left Button -->
      <button id="prev-btn" class="prev-btn"> </button>
      
        <!-- List Container -->
          <div id="item-list" class="item-list">
              <!-- Items -->
             <img id="item" class="item" src="image-url"/>
              <img id="item" class="item" src="image-url"/>
          </div>
      
      <!-- Right Button -->
          <button id="next-btn" class="next-btn"> </button>
      </div>
	<script src="{% static 'carrosel.js' %}"></script>
</body>
{% endblock content %}
