{% extends "base.html" %}
{% block content %}
{% load static %}


<link href='{% static "login.css" %}' rel='stylesheet'>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
 


<div class="rcontainer">

    <!-- SEÇÃO DE REGISTRO  -->

    <div class="singup-section" id="singup-section">
        <header id="singup" onclick="closelogin()">Reset de senha!</header>

        <style>
            
        </style>
        <div class="seperator">
            <div class="line"></div>
            <p>Ou</p>
            <div class="line"></div>
        </div>
        <form action="/forget/" method="post">
            {% csrf_token %}
            <input type="email" placeholder="Email de cadastro" name="remail" required>
            <a href="/login">Entre por aqui!</a>

            <button type="submit" class="btn">Enviar e-mail</button>



        </form>
    </div>






</div>



<script src="{% static 'login.js' %}"></script>
{% endblock content %}