{% extends "base.html" %}

{% load static %}

{% block content %}

<link href='{% static "login.css" %}' rel='stylesheet'>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<script src="{% static 'login.js' %}"></script>
<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>

<div class="page-login">
    <div class="container">

        <div class="singup-section" id="singup-section">
            <header id="singup" onclick="closelogin()">Criar conta</header>

            <div class="social-buttons">
                <button><i class='bx bxl-google-plus'></i>
                    Continuar com Google
                </button>
            </div>
            <style>
                
            </style>
            <div class="seperator">
                <div class="line"></div>
                <p>Ou</p>
                <div class="line"></div>
            </div>
            <form action="/register/" method="post">{% csrf_token %}
                <input type="text" placeholder="Nome Completo" name = "name" required>
                <input type="email" placeholder="Endereço de e-mail" name="email" required>
                <input type="password" placeholder="Sua senha" name="pass" required>
                <a href="/forget">Esqueceu sua senha?</a>

                <button type="submit" class="btn">Criar conta</button>



            </form>

        </div>

        <div class="login-section" id="login-section">
            <header id="login" onclick="openlogin()">Acessar conta</header>

            <div class="social-buttons">
                <button><i class='bx bxl-google-plus'></i>
                    Continuar com Google
                </button>
            </div>
            <div class="seperator">
                <div class="line"></div>
                <p>Ou</p>
                <div class="line"></div>
            </div>

            
            
            
            <form action="/login/" method="post">{% csrf_token %}
                <input type="email" placeholder="Endereço de e-mail" name="lemail" required>
                <input type="password" placeholder="Senha cadastrada" name="lpass" required>
                <a href="/forget">Esqueceu sua senha?</a>
                <button type="submit" class="btn">Entrar</button>
            </form>

        </div>






    </div>
</div>

{% endblock content %}