{% extends "base.html" %}

{% load bootstrap5 %}

{% bootstrap_css %}
    
{% bootstrap_javascript %}


{% load static %}

{% block content %}

<link href="{% static 'terreno.css' %}" rel="stylesheet" type='text/css'>]
<script src="{% static 'terreno.js' %}"></script>

<div class="display-list">
    <div class="item-fazenda">
        <a href="display-fazenda">
            <img src="{% static 'imagem1.jpg'%}" alt="fazenda01" width="350" height="250">
        </a>
        <h2>Rancho 300m²</h2>
        <p>Rancho localizado em Goias com área total de 300m²</p>
        <p>Preço: R$ 1.000.000,00</p>
        <a href="#" class="btn-comprar">Comprar</a>
    </div>
    <div class="item-fazenda">
        <a href="display-fazenda">
            <img src="{% static 'imagem2.jpg'%}" alt="fazenda01" width="350" height="250">
        </a>
        <h2>Rancho 300m²</h2>
        <p>Rancho localizado em Goias com área total de 300m²</p>
        <p>Preço: R$ 1.000.000,00</p>
        <a href="#" class="btn-comprar">Comprar</a>
    </div>
    <div class="item-fazenda">
        <a href="display-fazenda">
            <img src="{% static 'imagem3.jpg'%}" alt="fazenda01" width="350" height="250">
        </a>
        <h2>Rancho 300m²</h2>
        <p>Rancho localizado em Goias com área total de 300m²</p>
        <p>Preço: R$ 1.000.000,00</p>
        <a href="#" class="btn-comprar">Comprar</a>
    </div>
</div>

{% endblock content %}